@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 pb-4">Welcome</h1>
    <h4 class="display-10 pb-3">My name is Abdulquddus Nuhu. I am a backend engineer and i am aspiring to be a DevOps Engineer</h4>
    <h4 class="display-10 pb-3">My username for HNG slack channel is: @@AbdulquddusO</h4>
    <h4 class="display-10">My email is: abdulquddusnuhu@@gmail.com</h4>
</div>
